.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.typedwrap {
  background-color: lightgreen;
  font-size: 16px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, monospace;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
