article.agent {
  color: #a1a;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, monospace;
}

article.ann {
  color: #f00;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, monospace;
}

article.ben {
  color: #00f;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, monospace;
}

article.cyn {
  color: #090;
  font-size: 12px;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, monospace;
}

span.ann {
  color: #f00;
}

span.ben {
  color: #00f;
}

span.cyn {
  color: #090;
}
